name: Build DeepLX Android ARM64

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.2'

      - name: Build Android ARM64
        run: |
          export GOOS=android
          export GOARCH=arm64
          export CGO_ENABLED=0
          go build -o deeplx-android-arm64

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: deeplx-android-arm64
          path: deeplx-android-arm64
